.container{
    display: flex;
    height: 400px;
}

img{
    width: 100%;
    height: 100%;
}

.thumbnails{
    display: flex;
    flex-direction: column;
}

.thumbnails>img {
    height: calc(100% / 4);
}

.navigator{
    position: relative;
    right: 233.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 233.5px;
    align-items: center;
    
}

.up, .down{
    background-color: rgba(255, 255, 255, 0.806);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}